<div class="container">
  <div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <div class="d-flex flex-wrap">
    <app-pokemon-item
      *ngFor="let pokemon of pokemonList"
      [pokemon]="pokemon"
    ></app-pokemon-item>
  </div>
  <button class="btn btn-primary" type="button" (click)="nextPage()">
    Show me more!
  </button>
  <p *ngIf="isLoading">Loading ...</p>
</div>
