<div class="container">
  <img src="../../../assets/professorOak.png" alt="professor oak" />
  <form [formGroup]="user" (submit)="registerUser()">
    <div class="form-group">
      <label for="exampleInputEmail1">What is your Name?</label>
      <input
        name="name"
        formControlName="name"
        type="text"
        class="form-control"
      />
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <p *ngIf="name.errors.required">Name is required</p>
        <p *ngIf="name.errors.minlength">Name is too short</p>
      </div>
    </div>
    <p>Are you a boy? Or are you a girl?</p>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="gender"
        formControlName="gender"
        value="Boy"
      />
      <label class="form-check-label" for="inlineRadio1">Boy</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="gender"
        formControlName="gender"
        value="Girl"
      />
      <label class="form-check-label" for="inlineRadio2">Girl</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="gender"
        formControlName="gender"
        value="Other"
      />
      <label class="form-check-label" for="inlineRadio3">Other</label>
    </div>
    <button [disabled]="name.invalid" type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
