<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" href="/trainer">Pokemon Trainer</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/catalog">Catalog </a>
      </li>
    </ul>
  </div>

  <button
    *ngIf="!isLoggedIn"
    [routerLink]="['/register']"
    class="btn btn-outline-light my-2 my-sm-0"
    type="button"
  >
    Register
  </button>
</nav>
