<div class="card" [routerLink]="['/catalog/', pokemon.name]">
  <img
    [src]="pokemon.sprites ? pokemon.sprites.front_default : pokemon.url"
    class="card-img-top"
    alt=""
  />
  <div class="card-body">
    <h5 class="card-title">{{ pokemon.name }}</h5>
  </div>
</div>
