<div class="container">
  <h1>Profile</h1>
  <h2>Trainer name: {{ trainerName }}</h2>

  <div class="d-flex flex-wrap">
    <app-pokemon-item
      *ngFor="let pokemon of pokemonList"
      [pokemon]="pokemon"
    ></app-pokemon-item>
  </div>
</div>
